http://:{$PORT} {
    root * /root/html
    file_server
    # http2 not support by heroku yet
    reverse_proxy /h2 127.0.0.1:8082 {
        transport http {
            versions h2c
        }
    }

    @websockets_vless {
        header Connection *Upgrade*
        header Upgrade websocket
        path /lurk2926
    }
    reverse_proxy @websockets_vless localhost:8080

    @websockets_vmess {
        header Connection *Upgrade*
        header Upgrade websocket
        path /stew6214
    }
    reverse_proxy @websockets_vmess localhost:8081

}